body{
    background-image: url(design/teglafal.jpg);
    color: beige;
    font-family: Arial, Verdana, sans-serif; 
    background-size:cover;
    
}

header{
    background-image: url(design/beer-new_401732638.jpg);
    height: 300px;
    font-size: 32px;
    padding: 30px;
    text-align: left;
    font-weight: bolder;
    font-family: Garamond;
    grid-area: h;
    display: grid;
}
img{
    height: 150px;
}

main{
    width: 80%;
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    box-shadow: 3px white;
    display: grid;
    grid-template-areas: 
    "h h h"
    "a a as"
    "f f f";
    background-color: #333333;
}

article{
    background-color: black;
    grid-area: a;
    display: grid;
    padding: 10px;
}

aside{
    background-color: #333333;
    display: grid;
    grid-area: as;
    gap: 15px;
}

.link{
	color:red;
    border: solid 2px gray;
    border-radius: 8px;
    padding: 25px;
    margin: 15px;
}



table{
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}

td{
    border: 1px solid gray;
    text-align: right;
}
th{
    border: 1px solid gray;
    text-align: center;
}

tbody tr:nth-child(odd){
    background-color:#333333;
    
}

main{
	max-width:1000px;
	background: #333333;
}

footer{
    text-align: center;
    background-color: gray;
    grid-area: f;
    display: grid;
}

aside{
    margin: 20px;
    padding: 20px;
    background-color: black;
    text-align: justify;
}

